<div class="row text-center">
    <div class="col-md-6 marca">
        <img class="logo" src="/img/logo.png" alt="">
    </div>
    <div class="col-md-6 formulario">
        <form class="form-signin" action="/auth/github">
            <img class="mb-4 icone" src="/img/icone_arquivo.png" alt="">
            <h1 class="h3 mb-3 font-weight-normal">Faça login</h1>
            <p class="alerta">** Este login com e-mail e senha é ilustrativo e inativo. Tente o Login com o Linkedin. **</p>
            <label for="inputEmail" class="sr-only">Endereço de email</label>
            <input type="email" id="inputEmail" class="form-control" placeholder="Seu email" disabled>
            <label for="inputPassword" class="sr-only">Senha</label>
            <input type="password" id="inputPassword" class="form-control" placeholder="Senha" disabled>
            <div class="checkbox mb-3">
                <label> <input type="checkbox" value="remember-me" disabled> Lembrar de mim </label>
            </div>
            <button class="btn btn-lg btn-primary btn-block" disabled>Login</button>
            <hr>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Login Linkedin  <i class="fab fa-linkedin"></i></button>
            <br />
            <p class="mt-5 mb-3 text-muted">&copy; 2019</p>
        </form>
    </div>
</div>